node-red-flows-perinet.json

[{"id":"b7abebb0.895cf8","type":"SIGNL4","z":"5a36c542.d5328c","name":"SIGNL4 Alerting","teamSecret":"team-secret","alertSubject":"Perinet Alert","alertBody":"","alertS4Service":"","alertS4Location":"","alertS4AlertingScenario":"single_ack","alertS4ExternalID":"","x":700,"y":300,"wires":[[]]},{"id":"dea28ab9.8ad838","type":"distance","z":"5a36c542.d5328c","name":"periNODE","currentNode":"","adapter":"periNODE-63.local","appname":"EVK","elename":"distance","mqtt":"mqtt-mica-bpo22.local","currentMQTT":"","qos":"0","x":100,"y":180,"wires":[["d8eec44b.e91598","cdbea8d1.030c68","6c77c036.4b918"]]},{"id":"6974b47e.c8debc","type":"function","z":"5a36c542.d5328c","name":"Format Message","func":"\nvar data = {\n    'Alert': 'Perinet alert',\n    'Distance': msg.payload + ' cm',\n    'X-S4-Location': '52.3994611,13.058404'\n}\n\nmsg.payload = data;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["b7abebb0.895cf8"]]},{"id":"d8eec44b.e91598","type":"ui_gauge","z":"5a36c542.d5328c","name":"","group":"924b3ebb.b7578","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":160,"wires":[]},{"id":"cdbea8d1.030c68","type":"ui_chart","z":"5a36c542.d5328c","name":"","group":"924b3ebb.b7578","order":1,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":100,"wires":[[]]},{"id":"a97e7de6.9b89c","type":"delay","z":"5a36c542.d5328c","name":"Rate Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":240,"wires":[["6974b47e.c8debc"]]},{"id":"6c77c036.4b918","type":"switch","z":"5a36c542.d5328c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":240,"wires":[["a97e7de6.9b89c"]]},{"id":"924b3ebb.b7578","type":"ui_group","z":"","name":"Perinet Distance Sensor","tab":"d6abda5d.2d4358","disp":true,"width":"10","collapse":false},{"id":"d6abda5d.2d4358","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]
